$colors: (
  "table": (
    light: hsl(120, 80%, 45%),
    dark: hsl(130, 70%, 25%),
  ),
  "btn": (
    on: hsl(152, 100%, 30%),
    off: hsl(353, 86%, 54%),
    newGameLight: hsl(52, 75%, 70%),
    newGameDark: hsl(47, 80%, 60%),
    bottomMenuLight: hsl(197, 100%, 40%),
    bottomMenuDark: hsl(208, 100%, 40%),
  ),
  "neutral": (
    100: hsl(0, 0%, 100%),
    300: hsl(0, 0%, 70%),
    500: hsl(0, 0%, 50%),
    900: hsl(0, 0%, 0%),
  ),
);
