@use "../abstracts/" as *;

.fullDeck {
  position: relative;
  top: 10%;
  right: -82.5%;
  rotate: -15deg;
  z-index: 0;
  width: 150px;
  height: 220px;

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
}
