@use "../abstracts/" as *;

.fullDeck {
  position: absolute;
  top: 2%;
  right: 5%;
  rotate: -45deg;
  z-index: 0;
  width: 150px;
  height: 220px;

  img {
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
  }
}
