@use "../abstracts/" as *;

#table-container {
  @include tableCircleGradient(var(--clr-table-light), var(--clr-table-dark));
  height: 100vh;
  overflow: hidden;
  --url: "";
  cursor: var(--url) 37.5 37.5, auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
